@font-face {
    font-family: 'Pretendard';
    src: url('/static/Pretendard-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    font-family: 'Pretendard', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #ffffff;
    color: #000000;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* General Styles */
.cover-container {
    max-width: 42em;
}

.lead {
    color: #000000;
    text-align: center;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #0064E4;
    border-color: #0056b3;

}

.link-body-emphasis {
    pointer-events: none;
    cursor: default;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 56px); /* 56px는 네비게이션 바의 높이 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hero .btn {
    position: absolute;
    right: 370px;
    top: 45%;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .hero .btn {
        right: 100px;
        top: 45%;
    }
}

/* Navigation Bar Styles */
.nav-masthead .nav-link {
    padding: 0.25rem 0.75rem;
    font-weight: 700;
    color: #000000;
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav-masthead .active {
    color: #0064E4;
    border-bottom-color: #0064E4;
}

nav.container {
    max-width: 100%;
    padding: 0;
}

.container > header {
    width: 100%;
    padding: 0 1rem;
}

/* Footer Styles */
.mastfoot {
    color: #FFFFFF;
    text-align: left;
    padding: 5px 10px;
    background-color: #000000; /* 진한 회색 배경 */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mastfoot p,
.mastfoot a {
    font-size: 14px; /* 기본 글자 크기 설정 */
    margin: 0; /* 기본적인 margin 제거 */
}

.mastfoot a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px; /* 각 요소 간의 간격 조정 */
}

@media (max-width: 768px) {
    .mastfoot p,
    .mastfoot a {
        font-size: 12px; /* 모바일 화면에서 글자 크기 줄이기 */
    }
}

/* Login Box Styles */
#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; /* 변경: flex-start로 설정 */
    height: 100%;
    padding-top: 50px; /* 추가: 로그인 박스를 위로 올리기 위해 상단 패딩 추가 */
}

#loginBox {
    width: 300px;
    text-align: center;
    background-color: #ffffff;
}

.input-form-box {
    border: 0px solid #ff0000;
    display: flex;
    margin-bottom: 5px;
}

.input-form-box > span {
    display: block;
    text-align: left;
    padding-top: 5px;
    min-width: 65px;
}

.button-login-box {
    margin: 10px 0;
}

.button-login-box button + button {
    margin-top: 10px; /* 간격을 벌리는 스타일 추가 */
}

#loginBoxTitle {
    color: #000000;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #270a09, #8ca6ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#inputBox {
    margin: 10px;
}

#inputBox button {
    padding: 3px 5px;
}

/* Modal Text Styles */
.wave {
    display: inline-block;
    animation: waveAnimation 2s infinite linear;
}

@keyframes waveAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}
/* ---------------------------------( agree )---------------------------------------- */
.info_title{
    font-size : 1.8rem;
    font-weight: bold;
    padding-top:2.5rem;
    text-align: center;
}
.info_box{
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    border:0.001px solid rgb(216, 216, 216);
    background-color: white;
}
.info_box_wrapper{
    margin: 0 auto;
    width: 100%;
    margin-top: 1rem;
}
.info_box_small {
    max-width: 600px;
}
.info_box_content {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.info_content{
    margin:2rem;
    font-weight:normal;
    font-size:1rem;
    text-align:left;
}
.info_agree{
    padding-top:1rem;
    text-align:right;
}
.logo_img {
    height: 60px;
}
.main-img-image {
    position: relative;
    filter: brightness(100%);
    width: 100%;
    height: auto;
    object-fit:cover;
    content: url("/static/img/main.jpg");
}
.navbar-img-image {
    position: relative;
    filter: brightness(50%);
    width: 100%;
    height: 300px;
    object-fit:cover;
}
.main-margin {
    align-self: center;
    margin-right: 12rem;
}
.card-margin {
    margin: 2.5rem;
}
.result-box-main {
    width: 40%;
    margin: 1rem;
    box-shadow: 5px 5px 5px #dddedf;
}
.result_name-main {
    margin: 1rem;
}
.result_container-main {
    margin: 1rem;
}
.result_content-main {
    width: 50%;
}
.button-text {
    font-size: 18px;
    font-weight: bold;
}
.btn-primary {
    --bs-btn-bg: var(--sangmyung);
    --bs-btn-border-color: var(--sangmyung);
}
.form-login {
    padding: 30px 60px 30px 60px;
    max-width: 350px;
    margin: auto;
}
.table_grade {
    padding: 2.5rem 2.5rem 0 2.5rem;
}
.login-form .agree {
    padding: 75px 100px;
    text-align: center;
}
.modal_title {
    font-size: 1.5rem;
}
.modal-scroll {
    max-height: 300px;
    overflow-y: auto;
}
.scroll {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-margin1 {
    margin-top: 1rem;
}
.box-margin3 {
    margin-top: 3rem;
}
.white-box {
    width: 40%;
}
.form-control {
    box-sizing: border-box;
}
.container {
    box-sizing: border-box;
}
.row>* {
    box-sizing: border-box;
}
.form-readonly {
    background-color:rgb(248,249,250);
}
.resultbox-mobile {
    display: none;
}
.modal-ul {
    padding: 0;
}
.form-check {
    align-self: center;
    margin-top: 0 !important;
}
.table-body__proceeding {
    color: rgb(42, 80, 135);
    font-weight: bold;
}
.table-body__complete {
    color: rgb(191, 72, 84);
    font-weight: bold;
}
.form-check-label {
    font-size: 16px;
    font-weight: 500;
}
.form-select {
    font-size: 17px;
    font-weight: 600;
    color: #495057;
}
.button {
    text-align: center;
}
.btn-post_list {
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    height: 70px;
    margin: 20px;
}
.post_detail__body_container {
    width: 80%;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.post_detail__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 20px 0px;
}
.post_detail__title-title {
    font-weight: 600;
}
.post_detail__body-title {
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post_detail__body-text {
    color: black;
    font-weight: 300;
    font-size: 1rem;
}
.post_detail__body-button {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post_detail__body-share--title {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.post_detail__body-share--url {
    padding: 5px 0px;
    width: 98%;
}
.post_detail__body-share--button {
    padding: 5px 0px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 100;
    color: black;
}
.post_detail__body-share--button--url {
    background-color: rgba(0, 0, 0, 0.3);
}
.post_detail__body-share--button--copy {
    background-color: black;
    color: white;
}
.comment_data-agree {
    color: black;
    font-weight: 300;
    font-size: 1rem;
}
.form-font {
    font-family: 'Nanum Gothic', sans-serif;
}
.h4-font {
    font-size: calc(1.275rem + .3vw);
}
@media screen and (max-width: 1024px) {
    .main-img {
        justify-content: center;
    }
    .logo_img {
        height: 55px;
    }
    .main-margin {
        margin-right: 0;
        margin-bottom: 40rem;
    }
    .card-margin {
        display: none;
    }
    .main-img-image {
        content: url("/static/img/tablet.jpg");
    }
    .navbar-img__text--title {
        font-size: 45px;
    }
    .navbar-img__text {
        font-size: 15px;
    }
    .navbar-img-image {
        height: 270px;
    }
    .footer {
        padding: 1rem;
    }
    .form-login {
        padding: 20px 0 20px 0;
    }
    .close {
        font-size: 2.3rem;
    }
    .my_box_wrap {
        display: block;
        padding: 0;
        margin: 1rem 0;
    }
    .my_box_width {
        width: 80%;
        margin: auto;
        padding: 1.5rem;
    }
    .table_grade {
        padding: 0;
    }
    .grade_table_td {
        font-size: 0.8rem;
    }
    .modal-title {
        font-size: 1.6rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .table_hidden {
        display: none;
    }
    .modal_title {
        font-size: 1.4rem;
    }
    .modal-scroll {
        max-height: 250px;
    }
    .resultbox-main {
        display: none;
    }
    .resultbox-mobile {
        display: block;
    }
    .partdiv {
        font-size: 1.3rem;
    }
    .popup_content {
        width: 90%;
    }
    .popup_box {
        font-size: 0.95rem;
    }
    .popup_check {
        font-size: 1rem;
    }
}
@media screen and (max-width: 767px) {
    .logo_img {
        height: 50px;
    }
    .main-margin {
        margin: 0;
    }
    .main-img-image {
        content: url("/static/img/mobile.jpg");
    }
    .navbar-img__text--title {
        font-size: 35px;
    }
    .navbar-img__text {
        font-size: 15px;
    }
    .navbar-img-image {
        height: 240px;
    }
    .login-form {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
    .login-margin {
        margin-bottom: 20px;
    }
    .login-form .content {
      padding: 20px 30px 30px 30px;
      text-align: center;
    }
    .login_logo {
        margin-top: 20px;
    }
    .footer {
        padding: 1.5rem;
    }
    .modal-expl {
        font-size: 0.7rem;
    }
    .update_modal_content {
        width: 70%;
        padding: 2rem;
    }
    .close {
        font-size: 2.1rem;
    }
    .grade_table_td {
        font-size: 0.7rem;
    }
    .modal-title {
        font-size: 1.3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .info_content {
        font-size:0.85rem;
        margin: 1rem;
    }
    .login-form .agree {
        padding: 45px 30px 45px 30px;
    }
    .info_box_content {
        max-height: 250px;
    }
    .login_btn_default {
        font-size: 1rem;
    }
    .mydiv {
        font-size: 0.7rem;
        line-height: 1.2;
    }
    .target_num_div {
        font-size: 1rem;
        line-height: 1.2;
    }
    .target_color_span {
        font-size: 1.4rem;
    }
    .target_table {
        font-size: 0.7rem;
    }
    .modal_title {
        font-size: 1.3rem;
    }
    .modal-scroll {
        max-height: 200px;
    }
    .white-box {
        width: 80%;
    }
    .resultbox {
        width: 95%;
        box-sizing: border-box;
        margin: 0.8rem auto;
        height: auto;
    }
    .lcontainer {
        padding-bottom : 1.5rem;
    }
    .result_name {
        margin: 0.5rem 1rem 0 1rem;
        font-size: 1.1rem;
    }
    .small {
        font-size: 1rem;
    }
    .result_container {
        margin: 1rem;
    }
    .result_content {
        width: 100px;
        height: 100px;
        align-items: center;
        display: grid;
    }
    .result_content_number {
        font-size: 2rem;
        height: 60px;
    }
    .pie-chart {
        margin-left: 5px;
        width: 90px;
        height: 90px;
    }
    .result_content_info {
        font-size: 0.7rem;
    }
    .recommend {
        left: 70%;
        height: 2rem;
        width: 6rem;
        font-size: 0.8rem;
    }
    .partdiv {
        font-size: 0.9rem;
    }
    .mytable {
        width: 100%;
        padding-top: 1rem;
        font-size: 0.5rem;
    }
    .myth {
        font-size: 0.6rem;
    }
    .popup_content {
        width: 95%;
    }
    .popup_box {
        font-size: 0.75rem;
    }
    .popup_check {
        font-size: 0.8rem;
    }
    .btn-post_list {
        width: 35%;
        height: auto;
        font-size: 1.2rem;
        margin: 1rem 0.8rem;
    }
}
@media screen and (max-width: 575px){
    .form-check {
        padding: 1rem;
        margin: 0.5rem 0 0 0.5rem !important;
    }
}
@media screen and (max-width: 400px) {
    .bg_small_text {
        font-size: 1.4em;
    }
    .bg_big_text {
        font-size: 2.8rem;
    }
    .bg_btn{
        padding-top : 1.4rem;
    }
    .bg_btn_style{
        height:2.6rem;
        width:7.8rem;
        font-size:1em;
    }
}
/* 일단 냅둬 /
@font-face {
    font-family: 'Pretendard';
    src: url('/static/Pretendard-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard','sans-serif';
}
a {
    text-decoration: none;
    color: black;
}
/* 아이폰에서 input css 적용하기 */
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="checkbox"],
input[type="radio"],
input[type="button"]
{
    -webkit-appearance: none;
}

/* ---------------------------------( 모달 )---------------------------------------- */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    border-radius: 10px;
    margin: 5% auto;
    padding: 5rem;
    border: 1px solid #888;
    width: 80%;
    max-width: 1280px;
    height: auto;
}
.load-modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    padding: 2.2rem;
    border: 1px solid #888;
    height: auto;
    margin:0;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
}
.update_modal_content {
    line-height: 10px;
    text-align: center;
    background-color: #fefefe;
    border-radius: 5px;
    padding: 2.5rem;
    border: 1px solid #888;
    width: 60%;
    max-width: 900px;
    height: auto;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.modal-title {
    text-align: center;
    padding-top:1rem;
    font-weight: bold;
    font-size:2rem;
    margin-top:1.7rem;
    margin-bottom: 2rem;
    line-height:normal;
}
.modal-expl {
    margin-top:1.8rem;
    font-size:0.9rem;
    color:grey;
    line-height:1;
}
.modal-hr {
    width:100%;
    margin-top:1.3rem;
}
.modal_div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
}
.modal_div_content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    border-top: 1px solid lightgray;
    line-height: 40px;
    font-size: 25px;
}
.caution {
    color: red;
}
.login-content {
    margin: 2% auto;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
input[type=radio] + label {
    display:inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #000000;
    cursor:pointer;
}
input[type=radio]:checked + label {
    background-image: url('../images/checkbox.svg');
}
input[type=radio] {
    display: none;
}
input[type=checkbox] + label {
    display:inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #000000;
    cursor:pointer;
}
input[type=checkbox]:checked + label {
    background-image: url('../images/checkbox.svg');
}
input[type=checkbox] {
    display: none;
}
.caution_info{
    color: red;
    font-weight:bold;
}
.link_site{
    font-size:0.8rem;
    padding:0.1rem 0.3rem 0.1rem 0.3rem;
    color:white;
    border-radius: 3px;
    background-color: #20B2AA;
    word-break: keep-all;
    text-decoration: none;
}
.target_color_span {
    font-size: 1.8rem;
    font-weight: bold;
    color: #6188E8
}
.target_num_div {
    font-size:1.5rem;
    margin : 2rem 0 2rem 0;
}
.target_table {
    font-size:1rem;
    width: 55%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.target_table_th {
    text-align: center;
    height: 2.5rem;
    background-color: #f8f8f8;
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.target_table_td {
    text-align: left;
    padding : 0.3rem 0.7rem 0.3rem 0.7rem;
    height: 2rem;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.cards {
    background-color: rgba( 255, 255, 255, 0.5 );
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 1rem;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 2.5rem;
    font-weight: bold;
}
.close:focus,
.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/
/* ---------------------------------( loading )---------------------------------------- */
.modal_loadcontainer{
    padding-top:3rem;
    padding-bottom:3rem;
    width: 100%;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loadcontainer{
    height: 100vh;
    width: 100%;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248,249,250);
}
.load_info{
    letter-spacing:1px;
    margin-top:0.8rem;
    font-size:1rem;
    color:rgb(199, 199, 199)
}
.loading span {
    display: inline-block;
    margin: 0 -.075em;
    animation: loading .7s infinite alternate;
}
.loading span:nth-child(2) {
    animation-delay: .1s;
}
.loading span:nth-child(3) {
    animation-delay: .2s;
}
.loading span:nth-child(4) {
    animation-delay: .3s;
}
.loading span:nth-child(5) {
    animation-delay: .4s;
}
.loading span:nth-child(6) {
    animation-delay: .5s;
}
.loading span:nth-child(7) {
    animation-delay: .6s;
}
@keyframes loading {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
}
.sk-chase {
    width: 100px;
    height: 100px;
    position: relative;
    margin :60px;
    animation: sk-chase 2.5s infinite linear both;
}
.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
}
.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #1a237e    ;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}
.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
@keyframes sk-chase {
    100% { transform: rotate(360deg); }
}
@keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); }
}
@keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4);
    } 100%, 0% {
      transform: scale(1.0);
    }
}
/* ---------------------------------( register )---------------------------------------- */
.regi_box {
    text-align:center;
    margin: 0 auto;
    width: 350px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.regi_box label{
    text-align: left;
    font-size:1.1rem;
    margin-top: 2rem;
}
.regi_box input {
    font-size: 1rem;
    background: none;
    border:0.01px solid rgb(216, 216, 216);
    padding: 10px 10px 10px 15px;
    margin-top:0.5rem;
    outline: 0;
    height:1.5rem;
}
.regi_box input::placeholder {
    color:rgb(143, 143, 143);
}
.regi_box select{
    font-size: 1rem;
    background: none;
    border:0.01px solid rgb(216, 216, 216);
    padding: 0px 10px 0px 10px;
    margin-top:0.5rem;
    outline: 0;
    height:2.8rem;
}
.regi_btn{
    background: #6188E8;
    width:15%;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    margin-top: 1.5rem;
    border-radius: 3px;
    padding:0.7rem;
    cursor: pointer;
    outline: 0;
    margin-top:2.5rem;
    margin-bottom: 3rem;
}
.regi_guide{
    text-align: left;
    color:#6188E8;
    font-size:0.9rem;
    font-weight: lighter;
}

/* ---------------------------------( login )---------------------------------------- */
.login-container{
    display: flex;
    background: linear-gradient(125deg, white, #E8E9ED);
    justify-content: center;
}
.term-container {
    display: block;
    padding:80px 0 40px 0;
}
.login_logo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#login_logo {
    margin: 10px 0;
    width: 200px;
    height: 90px;
}
.login_gray {
  color: #747474;
  font-size: 14px;
}
.login_title{
  text-align: center;
  padding-top:2rem;
  padding-left:0.5rem;
  font-weight: bold;
}
.login_box{
  text-align:center;
  margin: 0 auto;
  width:700px;
  margin-top:1.5rem;
  border:0.001px solid rgb(216, 216, 216);
  background-color: white;
  padding:1.5rem;
  padding-bottom:2.5rem;
  margin-bottom:4rem;
}
.login_btn {
  background: #0064E4;
  width:17%;
  color: white;
  font-size: 1.0rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding:0.5rem;
  cursor: pointer;
  outline: 0;
  margin: 10px;
  margin-top: 2rem;
}
.login-form {
  background: #fff;
  width: 600px;
  margin: 45px 65px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  box-shadow: 15px 15px 20px 10px #bebec0;
  justify-content: center;
  text-align: center;
}
.login-form h1 {
  font-weight: 300;
  text-align: center;
}
.login-form .content {
  padding: 30px 100px 45px 100px;
  text-align: center;
}
.login-form .input-field {
  padding: 12px 5px;
}
.login-form .input-field input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-indent: 10px;
  letter-spacing: 3px;
}
.login-form .input-field input::-webkit-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:focus {
  border-color: #222;
}
.login-form a.link {
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  margin-top: 20px;
}
.login-form a.link:hover {
  text-decoration: underline;
}
.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.login-form .action button{
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #6188E8;
  color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.login-form .action button:hover {
  background: #003D91;
}
.login-form .action button:nth-child(2) {
  background: #e8e9ec;
  color: #777;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.login-form .action button:nth-child(2):hover {
  background: #d8d8d8;
}
.login_btn {
  background: #6188E8;
  width:17%;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  margin-top: 1.5rem;
  border-radius: 3px;
  padding:0.5rem;
  cursor: pointer;
  outline: 0;
}
.regi_find_pwd{
  font-size:1rem;
  margin-top: 1.5rem;
  color:rgb(204, 204, 204)
}
.regi_find_pwd a{
  text-decoration: none;
  color: #313131;
}
.regi_find_pwd span{
  margin-left : 1rem;
  margin-right : 1rem;
}
.filter_btn:hover,
.ajax_search_btn:hover,
.add_btn:hover,
.save_btn:hover,
.login_btn:hover,
.regi_btn:hover,
.go_result_btn:hover,
.suc_btn:hover
{
  background-color: #FEC034;
  font-weight: bold;
}
body:not(.device-touch) .info_btn,
body:not(.device-touch) .filter_btn,
body:not(.device-touch) .ajax_search_btn,
body:not(.device-touch) .add_btn,
body:not(.device-touch) .save_btn,
body:not(.device-touch) .tooltip,
body:not(.device-touch) .rbutton,
body:not(.device-touch) .show_table,
body:not(.device-touch) .my_box_mod_btn,
body:not(.device-touch) .bg_btn_style,
body:not(.device-touch) .login_btn,
body:not(.device-touch) .regi_btn,
body:not(.device-touch) .go_result_btn,
body:not(.device-touch) .suc_btn
{
  transition: background-color .2s linear;
  -webkit-transition: background-color .2s linear;
}
.login_btn_default{
  margin-top: 22px;
  color:#20B2AA;
  font-weight: bold;
  font-size:1.2rem;
}

/* ---------------------------------( agree )---------------------------------------- */
.info_title{
    font-size : 1.8rem;
    font-weight: bold;
    padding-top:2.5rem;
    text-align: center;
}
.info_box{
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    border:0.001px solid rgb(216, 216, 216);
    background-color: white;
}
.info_box_wrapper{
    margin: 0 auto;
    width: 100%;
    margin-top: 1rem;
}
.info_box_small {
    max-width: 600px;
}
.info_box_content {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.info_content{
    margin:2rem;
    font-weight:normal;
    font-size:1rem;
    text-align:left;
}
.info_agree{
    padding-top:1rem;
    text-align:right;
}
.logo_img {
    height: 60px;
}
.main-img-image {
    position: relative;
    filter: brightness(100%);
    width: 100%;
    height: auto;
    object-fit:cover;
    content: url("/static/img/main.jpg");
}
.navbar-img-image {
    position: relative;
    filter: brightness(50%);
    width: 100%;
    height: 300px;
    object-fit:cover;
}
.main-margin {
    align-self: center;
    margin-right: 12rem;
}
.card-margin {
    margin: 2.5rem;
}
.result-box-main {
    width: 40%;
    margin: 1rem;
    box-shadow: 5px 5px 5px #dddedf;
}
.result_name-main {
    margin: 1rem;
}
.result_container-main {
    margin: 1rem;
}
.result_content-main {
    width: 50%;
}
.button-text {
    font-size: 18px;
    font-weight: bold;
}
.btn-primary {
    --bs-btn-bg: var(--sangmyung);
    --bs-btn-border-color: var(--sangmyung);
}
.form-login {
    padding: 30px 60px 30px 60px;
    max-width: 350px;
    margin: auto;
}
.table_grade {
    padding: 2.5rem 2.5rem 0 2.5rem;
}
.login-form .agree {
    padding: 75px 100px;
    text-align: center;
}
.modal_title {
    font-size: 1.5rem;
}
.modal-scroll {
    max-height: 300px;
    overflow-y: auto;
}
.scroll {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-margin1 {
    margin-top: 1rem;
}
.box-margin3 {
    margin-top: 3rem;
}
.white-box {
    width: 40%;
}
.form-control {
    box-sizing: border-box;
}
.container {
    box-sizing: border-box;
}
.row>* {
    box-sizing: border-box;
}
.form-readonly {
    background-color:rgb(248,249,250);
}
.resultbox-mobile {
    display: none;
}
.modal-ul {
    padding: 0;
}
.form-check {
    align-self: center;
    margin-top: 0 !important;
}
.table-body__proceeding {
    color: rgb(42, 80, 135);
    font-weight: bold;
}
.table-body__complete {
    color: rgb(191, 72, 84);
    font-weight: bold;
}
.form-check-label {
    font-size: 16px;
    font-weight: 500;
}
.form-select {
    font-size: 17px;
    font-weight: 600;
    color: #495057;
}
.button {
    text-align: center;
}
.btn-post_list {
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    height: 70px;
    margin: 20px;
}
.post_detail__body_container {
    width: 80%;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.post_detail__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 20px 0px;
}
.post_detail__title-title {
    font-weight: 600;
}
.post_detail__body-title {
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post_detail__body-text {
    color: black;
    font-weight: 300;
    font-size: 1rem;
}
.post_detail__body-button {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post_detail__body-share--title {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.post_detail__body-share--url {
    padding: 5px 0px;
    width: 98%;
}
.post_detail__body-share--button {
    padding: 5px 0px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 100;
    color: black;
}
.post_detail__body-share--button--url {
    background-color: rgba(0, 0, 0, 0.3);
}
.post_detail__body-share--button--copy {
    background-color: black;
    color: white;
}
.comment_data-agree {
    color: black;
    font-weight: 300;
    font-size: 1rem;
}
.form-font {
    font-family: 'Nanum Gothic', sans-serif;
}
.h4-font {
    font-size: calc(1.275rem + .3vw);
}
@media screen and (max-width: 1024px) {
    .main-img {
        justify-content: center;
    }
    .logo_img {
        height: 55px;
    }
    .main-margin {
        margin-right: 0;
        margin-bottom: 40rem;
    }
    .card-margin {
        display: none;
    }
    .main-img-image {
        content: url("/static/img/tablet.jpg");
    }
    .navbar-img__text--title {
        font-size: 45px;
    }
    .navbar-img__text {
        font-size: 15px;
    }
    .navbar-img-image {
        height: 270px;
    }
    .footer {
        padding: 1rem;
    }
    .form-login {
        padding: 20px 0 20px 0;
    }
    .close {
        font-size: 2.3rem;
    }
    .my_box_wrap {
        display: block;
        padding: 0;
        margin: 1rem 0;
    }
    .my_box_width {
        width: 80%;
        margin: auto;
        padding: 1.5rem;
    }
    .table_grade {
        padding: 0;
    }
    .grade_table_td {
        font-size: 0.8rem;
    }
    .modal-title {
        font-size: 1.6rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .table_hidden {
        display: none;
    }
    .modal_title {
        font-size: 1.4rem;
    }
    .modal-scroll {
        max-height: 250px;
    }
    .resultbox-main {
        display: none;
    }
    .resultbox-mobile {
        display: block;
    }
    .partdiv {
        font-size: 1.3rem;
    }
    .popup_content {
        width: 90%;
    }
    .popup_box {
        font-size: 0.95rem;
    }
    .popup_check {
        font-size: 1rem;
    }
}
@media screen and (max-width: 767px) {
    .logo_img {
        height: 50px;
    }
    .main-margin {
        margin: 0;
    }
    .main-img-image {
        content: url("/static/img/mobile.jpg");
    }
    .navbar-img__text--title {
        font-size: 35px;
    }
    .navbar-img__text {
        font-size: 15px;
    }
    .navbar-img-image {
        height: 240px;
    }
    .login-form {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
    .login-margin {
        margin-bottom: 20px;
    }
    .login-form .content {
      padding: 20px 30px 30px 30px;
      text-align: center;
    }
    .login_logo {
        margin-top: 20px;
    }
    .footer {
        padding: 1.5rem;
    }
    .modal-expl {
        font-size: 0.7rem;
    }
    .update_modal_content {
        width: 70%;
        padding: 2rem;
    }
    .close {
        font-size: 2.1rem;
    }
    .grade_table_td {
        font-size: 0.7rem;
    }
    .modal-title {
        font-size: 1.3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .info_content {
        font-size:0.85rem;
        margin: 1rem;
    }
    .login-form .agree {
        padding: 45px 30px 45px 30px;
    }
    .info_box_content {
        max-height: 250px;
    }
    .login_btn_default {
        font-size: 1rem;
    }
    .mydiv {
        font-size: 0.7rem;
        line-height: 1.2;
    }
    .target_num_div {
        font-size: 1rem;
        line-height: 1.2;
    }
    .target_color_span {
        font-size: 1.4rem;
    }
    .target_table {
        font-size: 0.7rem;
    }
    .modal_title {
        font-size: 1.3rem;
    }
    .modal-scroll {
        max-height: 200px;
    }
    .white-box {
        width: 80%;
    }
    .resultbox {
        width: 95%;
        box-sizing: border-box;
        margin: 0.8rem auto;
        height: auto;
    }
    .lcontainer {
        padding-bottom : 1.5rem;
    }
    .result_name {
        margin: 0.5rem 1rem 0 1rem;
        font-size: 1.1rem;
    }
    .small {
        font-size: 1rem;
    }
    .result_container {
        margin: 1rem;
    }
    .result_content {
        width: 100px;
        height: 100px;
        align-items: center;
        display: grid;
    }
    .result_content_number {
        font-size: 2rem;
        height: 60px;
    }
    .pie-chart {
        margin-left: 5px;
        width: 90px;
        height: 90px;
    }
    .result_content_info {
        font-size: 0.7rem;
    }
    .recommend {
        left: 70%;
        height: 2rem;
        width: 6rem;
        font-size: 0.8rem;
    }
    .partdiv {
        font-size: 0.9rem;
    }
    .mytable {
        width: 100%;
        padding-top: 1rem;
        font-size: 0.5rem;
    }
    .myth {
        font-size: 0.6rem;
    }
    .popup_content {
        width: 95%;
    }
    .popup_box {
        font-size: 0.75rem;
    }
    .popup_check {
        font-size: 0.8rem;
    }
    .btn-post_list {
        width: 35%;
        height: auto;
        font-size: 1.2rem;
        margin: 1rem 0.8rem;
    }
}
@media screen and (max-width: 575px){
    .form-check {
        padding: 1rem;
        margin: 0.5rem 0 0 0.5rem !important;
    }
}
@media screen and (max-width: 400px) {
    .bg_small_text {
        font-size: 1.4em;
    }
    .bg_big_text {
        font-size: 2.8rem;
    }
    .bg_btn{
        padding-top : 1.4rem;
    }
    .bg_btn_style{
        height:2.6rem;
        width:7.8rem;
        font-size:1em;
    }
}
