<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id='m1' class="modal">
    <div class="update_modal_content">
        <div id='c1' class="close">&times;</div>
        <div class="modal-title">
            내 정보 업데이트
        </div>
        <div class="modal-expl">
            통합로그인을 통해 재학생 인증을 진행합니다.<br><br>
            (<a href="#" class="footer_link" style="font-weight: bold;" target="_blank">포털시스템</a> 학번/비밀번호)
        </div>
        <hr class="modal-hr">
        <form th:action="@{/accounts/update}" method="post" name='form1' onsubmit="return check_up1()">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="form-login">
                <div class="input-group flex-nowrap">
                    <input class="form-control" type="text" name='username' placeholder="학번" th:value="${student.studentID}">
                </div>
                <div class="input-group flex-nowrap">
                    <input class="form-control" type="password" name='password' placeholder="포털시스템 비밀번호">
                </div>
                <div class="action">
                    <input class="button" type="submit" value="업데이트">
                </div>
            </div>
        </form>
    </div>
</div>

<div id='m2' class="modal">
    <div class="update_modal_content">
        <div id='c2' class="close">&times;</div>
        <div class="modal-title">
            비밀번호 변경
        </div>
        <div class="modal-expl">
            <span class="modal_span_blue">비밀번호 변경</span>을 위해 현재 비밀번호를 확인합니다.
        </div>
        <hr class="modal-hr">
        <form th:action="@{/accounts/updatePassword}" method="post" name='form2' onsubmit="return check_up2()">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="form-login">
                <div class="input-group flex-nowrap">
                    <input class="form-control" type="password" name='password' placeholder="현재 비밀번호">
                </div>
                <div class="input-group flex-nowrap">
                    <input class="form-control" type="password" name='newpassword' placeholder="새 비밀번호">
                </div>
                <div class="input-group flex-nowrap">
                    <input class="form-control" type="password" name='newpassword2' placeholder="새 비밀번호 확인">
                </div>
                <div class="action">
                    <input class="button" type="submit" value="변경하기">
                </div>
            </div>
        </form>
    </div>
</div>

<div id='m3' class="modal">
    <div class="update_modal_content">
        <div id='c3' class="close">&times;</div>
        <div class="modal-title">
            회원 탈퇴
        </div>
        <div class="modal-expl">
            <span class="modal_span_blue">회원 탈퇴</span>를 위해 현재 비밀번호를 확인합니다.
        </div>
        <hr class="modal-hr">
        <form th:action="@{/accounts/delete}" method="post" name='form3' onsubmit="return check_up3()">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="form-login">
                <div class="input-group flex-nowrap">
                    <input class="form-control" type="password" name='password' placeholder="현재 비밀번호">
                </div>
                <div class="action">
                    <input class="button" type="submit" value="탈퇴하기">
                </div>
            </div>
        </form>
    </div>
</div>

<div id='m4' class="modal">
    <div class="update_modal_content">
        <div id='c4' class="close">&times;</div>
        <div class="modal-title">
            이수과목 업데이트
        </div>
        <div class="modal-expl">
            졸업요건 확인을 위해 <span class="modal_span_blue">이수과목</span> 업데이트를 진행합니다.
        </div>
        <hr class="modal-hr">
        <form th:action="@{/courses/update}" method="post" name='form4' onsubmit="return check_up4()">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="form-login">
                <div class="input-group flex-nowrap">
                    <input class="form-control" type="text" name='username' placeholder="학번" th:value="${student.studentID}">
                </div>
                <div class="input-group flex-nowrap">
                    <input class="form-control" type="password" name='password' placeholder="포털시스템 비밀번호">
                </div>
                <div class="action">
                    <input class="button" type="submit" value="업데이트">
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const modals = {
            'b1': 'm1',
            'b2': 'm2',
            'b3': 'm3',
            'b4': 'm4'
        };

        for (const [btnId, modalId] of Object.entries(modals)) {
            document.getElementById(btnId).onclick = function () {
                document.getElementById(modalId).style.display = "block";
            };
            document.getElementById('c' + btnId[1]).onclick = function () {
                document.getElementById(modalId).style.display = "none";
            };
        }

        window.onclick = function (event) {
            for (const modalId of Object.values(modals)) {
                if (event.target == document.getElementById(modalId)) {
                    document.getElementById(modalId).style.display = "none";
                }
            }
        }
    });

    function check_up1() {
        // validation logic for form1
        return true;
    }

    function check_up2() {
        // validation logic for form2
        return true;
    }

    function check_up3() {
        // validation logic for form3
        return true;
    }

    function check_up4() {
        // validation logic for form4
        return true;
    }
</body>
</html>