<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The SkyGradU</title>
    <link href="/css/basic.css" rel="stylesheet">
    <link href="/css/auth.css" rel="stylesheet">
    <link href="/css/mypage.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon.png">
    <link rel="manifest" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/images/icon.png" color="#712cf9">
    <link rel="icon" href="/images/icon.ico">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.0.0/js/all.js"></script>
    <style>
        .show-password1 { cursor: pointer; }
        .show-password2 { cursor: pointer; }
        .show-password3 { cursor: pointer; }
        .show-password4 { cursor: pointer; }
        .show-password5 { cursor: pointer; }
        .show-password7 { cursor: pointer; }
    </style>
</head>
<body class="d-flex flex-column h-100 text-center" style="overflow:auto">
    <!-- 네비게이션 바 포함 -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>


    <div class="grey_sec">
        <div class="container">
            <div class="login_logo2">
                <lottie-player id="home_logo" src="/json/homelogo.json" background="transparent" speed="1" style="width: 100px; height: 80px" loop autoplay></lottie-player>
            </div>
            <div class="custom_login_title">마이페이지</div>
        </div>
        <div class="action">
            <button class="button-text" id="test">졸업요건 검사하기</button>
        </div>
    </div>
    <div class="white_sec">
        <div class="my_box_wrap">
            <div class="info_section">
                <div class="my_box my_box_width">
                    <div class="my_box_title">
                        <div><i class="fas fa-user"></i><b>&nbsp;&nbsp;내 정보</b></div>
                        <button id='b1' class="my_box_mod_btn" onclick="toggleModal('m1', 'open')">업데이트</button>
                    </div>
                    <hr>
                    <table>
                        <tr>
                            <td class="my_box_table_1st_td"><b>이름</b></td>
                            <td><span th:text="${userName}"></span></td>
                        </tr>
                        <tr>
                            <td class="my_box_table_1st_td"><b>학번</b></td>
                            <td><span th:text="${studentID}"></span></td>
                        </tr>
                        <tr>
                            <td class="my_box_table_1st_td"><b>학과</b></td>
                            <td><span th:text="${major}"></span></td>
                        </tr>
                        <tr>
                            <td class="my_box_table_1st_td"><b>선택 전공</b></td>
                            <td class="value-cell">
                                <span th:text="${minorDept + ' (' + elective + ')'}"></span>
                                <button class="my_box_mod_btn2" onclick="openMinorModal()">변경하기</button>
                            </td>
                        </tr>
                    </table>


                    <!-- 모달 마크업 (body 끝 직전에 삽입) -->
                    <div id="minorModal" class="modal" style="display:none;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="modal-close">&times;</span>
                                <h2>선택 전공 변경하기</h2>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="minorElective">종류</label>
                                    <select id="minorElective">
                                        <option>심화</option>
                                        <option>부전</option>
                                        <option>복전</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="minorYear">시작년도</label>
                                    <select id="minorYear">
                                        <option>2020</option><option>2021</option><option>2022</option>
                                        <option>2023</option><option>2024</option><option>2025</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="minorDept">학과</label>
                                    <select id="minorDept">
                                        <option>신학과</option>
                                        <option>신학부</option>
                                        <option>기독교교육상담과</option>
                                        <option>문화선교학과</option>
                                        <option>국어국문학과</option>
                                        <option>영어영문학과</option>
                                        <option>중어중문학과</option>
                                        <option>국제개발협력학과</option>
                                        <option>사회복지학과</option>
                                        <option>행정학과</option>
                                        <option>행정학부</option>
                                        <option>관광학과</option>
                                        <option>경영학과</option>
                                        <option>동아시아물류학부</option>
                                        <option>글로벌물류학부</option>
                                        <option>글로벌물류학과</option>
                                        <option>산업경영공학과</option>
                                        <option>유아교육과</option>
                                        <option>체육교육과</option>
                                        <option>컴퓨터공학과</option>
                                        <option>정보통신공학과</option>
                                        <option>미디어소프트웨어학과</option>
                                        <option>도시디자인정보공학과</option>
                                        <option>음악학부</option>
                                        <option>연기예술학과</option>
                                        <option>영화영상학과</option>
                                        <option>연극영화학부</option>
                                        <option>뷰티디자인학과</option>
                                        <option>실용음악과</option>
                                        <option>공연음악예술학부</option>
                                        <option>융합학부</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="my_box_mod_btn2" id="submitMinorModalBtn">변경</button>
                            </div>
                        </div>
                    </div>
                    <hr style="margin-bottom:0.8rem; margin-top:0.8rem;">
                    <div class="my_box_title">
                        <div><i class="fa-solid fa-lock"></i><b>&nbsp;&nbsp;비밀번호 변경</b></div>
                        <button id='b2' class="my_box_mod_btn2" onclick="toggleModal('m2', 'open')">변경하기</button>
                    </div>
                    <hr style="margin-bottom:0.8rem; margin-top:0.8rem;">
                    <div class="my_box_title">
                        <div class="warning-message"><i class="fa-solid fa-bomb"></i><b>&nbsp;&nbsp;회원 탈퇴</b></div>
                        <button id='b3' class="my_warning_btn" onclick="toggleModal('m3', 'open')">탈퇴하기</button>
                    </div>
                </div>
            </div>

            <div class="grade_section">
                <div class="my_box_grade my_box_width">
                    <div class="table_grade">
                        <div class="my_box_title">
                            <div><i class="fa-solid fa-book"></i><b>&nbsp;&nbsp;내 기이수과목</b></div>
                            <div>
                                <input type="file" id="excelUpload" style="display: none;" accept=".xlsx, .xls">
                                <button id='b4' class="my_box_mod_btn2">직접 업로드</button>
                                <button id='b5' class="my_box_mod_btn" onclick="toggleModal('m5', 'open')">업데이트</button>
                            </div>
                        </div>
                        <hr>
                        <div class="scroll">
                            <table id="long_table" class="grade_table">
                                <tr>
                                    <th class="grade_table_th" style="width:10%">년도</th>
                                    <th class="grade_table_th" style="width:10%">학기</th>
                                    <th class="grade_table_th" style="width:40%">과목명</th>
                                    <th class="grade_table_th" style="width:10%">이수구분</th>
                                    <th class="grade_table_th" style="width:6%; border-right :0px">학점</th>
                                </tr>
                                <tr th:each="course : ${courses}"
                                    th:style="${course.isCustom} ? 'color: #1ac06d;' : ''">
                                    <td class="grade_table_td" th:text="${course.year != null ? course.year : ''}"></td>
                                    <td class="grade_table_td" th:text="${course.semesterCompleted != null ? course.semesterCompleted : ''}"></td>
                                    <td class="grade_table_td" th:text="${course.courseName != null ? course.courseName : ''}"></td>
                                    <td class="grade_table_td" th:text="${course.courseType != null ? course.courseType : ''}"></td>
                                    <td class="grade_table_td" style="border-right: 0px" th:text="${course.credits != null ? course.credits : ''}"></td>
                                </tr>
                            </table>
                        </div>
                        <hr style="margin-bottom:0.8rem; margin-top:1.6rem;">
                        <div class="my_box_title2">
                            <div><i class="fa-solid fa-screwdriver-wrench"></i><b>&nbsp;&nbsp;기이수과목 커스텀</b></div>
                            <button id='b6' class="my_box_mod_btn3" onclick="location.href='/custom'">커스텀하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 푸터 포함 -->
    <div th:replace="~{fragments/footer :: footer}"></div>

    <!-- 정보 업데이트 모달 -->
    <div id="m1" class="m1-modal">
        <div class="m1-modal-content">
            <div class="modal-header">
                <span class="modal-close" onclick="toggleModal('m1', 'close')">&times;</span>
                <h2>정보 업데이트</h2>
            </div>
            <div class="modal-body" id="InfoUpdateModalStep1">
                <p>
                    <a href="https://www.sungkyul.ac.kr/portalLogin/skukr/portalLoginForm.do"
                       class="text-black footer_link"
                       style="font-weight: bold;"
                       target="_blank">성결대학교 포털</a>
                    <br> 로그인을 통해 정보를 업데이트 합니다.
                </p>
                <div class="input-group flex-nowrap">
                    <input class="form-control form-readonly" type="text" name="userId" id="PortalUserId" th:value="${portalID}" readonly>
                </div>
                <div class="input-group flex-nowrap" style="margin-top: 0.5rem;">
                    <input type="password" class="form-control" name="password" id="PortalPassword" placeholder="포털 비밀번호" required>
                    <span class="input-group-text show-password3" onclick="togglePassword3('PortalPassword','show-password3')">🙈</span>
                </div>
                <div id="error-message5" style="color: red; margin-top: 1rem;"></div>
                <button class="m1-button" onclick="updateMajor()">확인</button>
            </div>
        </div>
    </div>

    <!-- 로딩 모달 -->
    <div id='m7' class="modal" style="display: none;">
        <div class="load-modal-content">
            <div class="modal_loadcontainer">
                <div>
                    <lottie-player id="lottiePlayer" src="/json/dotloading.json" background="transparent"
                                   speed="1" style="width: 340px; height: 300px;" loop autoplay>
                    </lottie-player>
                </div>
                <div class="header-text">
                    <span>정</span><span>보</span><span>확</span><span>인</span><span>중</span><span>.</span><span>.</span><span>.</span><span>.</span>
                </div>
                <div class="load_info">변경사항을 업데이트 중입니다! 창을 이동하지 마세요</div>
            </div>
        </div>
    </div>

    <!--비밀번호 변경모달-->
    <div id="m2" class="m2-modal">
        <div class="m2-modal-content">
            <div class="modal-header">
                <span class="modal-close" onclick="toggleModal('m2', 'close')">&times;</span>
                <h2>비밀번호 변경하기</h2>
            </div>
            <div class="modal-body" id="passwordUpdateModalStep1">
                <p>변경하기 전 현재 비밀번호를 확인합니다.</p>
                <div class="input-group flex-nowrap">
                    <input class="form-control" id="currentPassword" type="password" placeholder="현재 비밀번호 입력">
                    <span class="input-group-text show-password1" onclick="togglePassword3('currentPassword', 'show-password1')">🙈</span>
                </div>
                <div id="error-message1" style="color: red; margin-top: 1rem;"></div>
                <button class="m2-button" onclick="verifyCurrentPassword1()">확인</button>
            </div>
            <div id="passwordUpdateModalStep2" style="display: none;">
                <p style="margin-top:1rem">보안을 위해 8자리 이상 입력해주세요!😊</p>
                <div class="input-group flex-nowrap">
                    <input type="password" id="newPassword" placeholder="새 비밀번호" class="form-control">
                    <span class="input-group-text show-password4" onclick="togglePassword3('newPassword', 'show-password4')">🙈</span>
                </div>
                <div class="input-group flex-nowrap" style="margin-top:1rem">
                    <input type="password" id="confirmNewPassword" placeholder="새 비밀번호 확인" class="form-control">
                    <span class="input-group-text show-password5" onclick="togglePassword3('confirmNewPassword', 'show-password5')">🙈</span>
                </div>
                <div id="error-message2" style="color: red; margin-top: 1rem;"></div>
                <button class="m2-button" onclick="changePassword()">변경하기</button>
            </div>
        </div>
    </div>

    <!--회원탈퇴 모달-->
    <div id="m3" class="m3-modal">
        <div class="m3-modal-content">
            <div class="modal-header">
                <span class="modal-close" onclick="toggleModal('m3', 'close')">&times;</span>
                <h2>회원 <b style="color:red;">탈퇴하기</b></h2>
            </div>
            <div class="modal-body" id="WithdrawalModalStep1">
                <p><b style="color:red;">탈퇴하기</b> 전 현재 비밀번호를 확인합니다.</p>
                <div class="input-group flex-nowrap">
                    <input class="form-control" id="currentPassword1" type="password" placeholder="현재 비밀번호 입력">
                    <span class="input-group-text show-password2" onclick="togglePassword3('currentPassword1', 'show-password2')">🙈</span>
                </div>
                <div id="error-message3" style="color: red; margin-top: 1rem;"></div>
                <button class="m3-button-confirm" onclick="verifyCurrentPassword2()">확인</button>
            </div>
            <div id="WithdrawalModalStep2" style="display: none;">
                <p style="margin-top:1rem"><b>탈퇴하기 버튼을 누르면</b></p>
                <p><b>탈퇴와 동시에 정보가 모두 삭제됩니다.</b></p>
                <div id="error-message4" style="color: red; margin-top: 1rem;"></div>
                <button class="m3-button" onclick="deleteAccount()">탈퇴하기</button>
            </div>
        </div>
    </div>

    <!--이수과목 업데이트 모달-->
    <div id="m5" class="m5-modal">
        <div class="m5-modal-content">
            <div class="modal-header">
                <span class="modal-close" onclick="toggleModal('m5', 'close')">&times;</span>
                <h2>이수과목 자동 업데이트</h2>
            </div>
            <div class="modal-body">
                <p><a href="https://www.sungkyul.ac.kr/portalLogin/skukr/portalLoginForm.do" class="text-black footer_link" style="font-weight: bold;" target="_blank">성결대학교 포털</a> <br>
                    로그인을 통해 이수과목을 업데이트 합니다.</p>
                <div class="input-group flex-nowrap">
                    <input class="form-control form-readonly" type="text" name="userId" th:value="${portalID}" readonly>
                </div>
                <div class="input-group flex-nowrap" style="margin-top: 0.5rem;">
                    <input type="password" class="form-control" name="password" id="PortalPassword3" placeholder="포털 비밀번호" onkeyup="checkCapsLock(event)">
                    <span class="input-group-text show-password7" onclick="togglePassword3('PortalPassword3','show-password7')">🙈</span>
                </div>
                <div id="error-message" style="color: red; margin-top: 1rem;"></div>
                <button class="m1-button" onclick="submitAutoExcel()">확인</button>
            </div>
        </div>
    </div>

    <!--로딩 모달-->
    <div id='m6' class="modal" style="display: none;">
        <div class="load-modal-content">
            <div class="modal_loadcontainer">
                <div>
                    <lottie-player id="lottiePlayer" src="/json/dotloading.json" background="transparent" speed="1" style="width: 340px; height: 300px;" loop autoplay>
                    </lottie-player>
                </div>
                <div class="header-text">
                    <span>정</span>
                    <span>보</span>
                    <span>확</span>
                    <span>인</span>
                    <span>중</span>
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                </div>
            </div>
            <div class="load_info">
                이수과목을 업데이트 중입니다! 창을 이동하지 마세요.<br>
                최대 40초 소요될 예정이에요.
            </div>
        </div>
    </div>

    <script src="/js/updatePW.js"></script>
    <script src="/js/deleteAccount.js"></script>
    <script src="/js/mypage.js"></script>
</body>
</html>
