<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The SkyGradU</title>
    <link href="/webapp/css/basic.css" rel="stylesheet">
    <link href="/webapp/css/auth.css" rel="stylesheet">
    <link href="/webapp/css/mypage.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/webapp/images/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/webapp/images/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/webapp/images/icon.png">
    <link rel="manifest" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/webapp/images/icon.png" color="#712cf9">
    <link rel="icon" href="/webapp/images/icon.ico">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <script src="https://use.fontawesome.com/releases/v6.0.0/js/all.js"></script>
    <style>
        .show-password1{
                    cursor: pointer;
                }
        .show-password2{
                    cursor: pointer;
                }
    </style>
</head>
<body class="d-flex flex-column h-100 text-center" style="overflow:auto">
<nav class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-2 border-bottom">
        <a href="/" class="d-flex align-items-center mb-2 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <lottie-player src="/webapp/json/homelogo.json" background="transparent" speed="1" style="width: 40px; height: 32px" loop autoplay></lottie-player>
            <span class="fs-4" style="color: #000000;">The SkyGradU</span>
        </a>
        <ul class="nav nav-pills navbar-expand-md">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/qna" class="nav-link">FAQs</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">이용안내</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated() and !hasAuthority('ROLE_ADMIN')">
                <a href="/mypage" class="nav-link">마이페이지</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a href="/admin" class="nav-link">관리자</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a href="/login" class="nav-link">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a href="/logout" class="nav-link">로그아웃</a>
            </li>
        </ul>
    </header>
</nav>
<div class="gray_sec">
    <div class="container">
        <div class="login_logo2">
            <lottie-player id="home_logo" src="/webapp/json/homelogo.json" background="transparent" speed="1" style="width: 100px; height: 80px" loop autoplay></lottie-player>
        </div>
        <div class="cutstom_login_title">마이페이지</div>
    </div>
    <div class="action">
        <button class="button-text" id="test">졸업요건 검사하기</button>
        <button class="button-text" id="test2">공학인증 검사하기</button>
    </div>
</div>
<div class="white_sec">
    <div class="my_box_wrap">
        <div class="info_section">
            <div class="my_box my_box_width">
                <div class="my_box_title">
                    <div><i class="fas fa-user"></i><b>&nbsp;&nbsp;내 정보</b></div>
                    <button id='b1' class="my_box_mod_btn">업데이트</button>
                </div>
                <hr>
                <table>
                    <tr>
                        <td class="my_box_table_1st_td"><b>이름</b></td>
                        <td><span th:text="${userName}"></span></td>
                    </tr>
                    <tr>
                        <td class="my_box_table_1st_td"><b>학번</b></td>
                        <td><span th:text="${studentID}"></span></td>
                    </tr>
                    <tr>
                        <td class="my_box_table_1st_td"><b>학과</b></td>
                        <td><span th:text="${major}"></span></td>
                    </tr>
                </table>
                <hr style="margin-bottom:0.8rem; margin-top:0.8rem;">
                <div class="my_box_title">
                    <div><i class="fa-solid fa-lock"></i><b>&nbsp;&nbsp;비밀번호 변경</b></div>
                    <button id='b2' class="my_box_mod_btn2" onclick="openM2()">변경하기</button>
                </div>
                <hr style="margin-bottom:0.8rem; margin-top:0.8rem;">
                <div class="my_box_title">
                    <div class="warning-message"><i class="fa-solid fa-bomb"></i><b>&nbsp;&nbsp;회원 탈퇴</b></div>
                    <button id='b3' class="my_warning_btn" onclick="openM3()">탈퇴하기</button>
                </div>
            </div>
        </div>

        <div class="grade_section">
            <div class="my_box_grade my_box_width">
                <div class="table_grade">
                    <div class="my_box_title">
                        <div><i class="fa-solid fa-book"></i><b>&nbsp;&nbsp;내 기이수과목</b></div>
                        <div>
                            <button id='b4' class="my_box_mod_btn2">직접 업로드</button>
                            <button id='b5' class="my_box_mod_btn">업데이트</button>
                        </div>
                    </div>
                    <hr>
                    <div class="scroll">
                        <table id="long_table" class="grade_table">
                            <tr>
                                <th class="grade_table_th" style="width:10%">년도</th>
                                <th class="grade_table_th" style="width:10%">학기</th>
                                <th class="grade_table_th" style="width:40%">과목명</th>
                                <th class="grade_table_th" style="width:10%">이수구분</th>
                                <th class="grade_table_th" style="width:14%">선택영역</th>
                                <th class="grade_table_th" style="width:6%; border-right :0px">학점</th>
                            </tr>
                            <tr th:each="course : ${courses}">
                                <td class="grade_table_td" th:text="${course.year}"></td>
                                <td class="grade_table_td" th:text="${course.semester}"></td>
                                <td class="grade_table_td" th:text="${course.subject.name}"></td>
                                <td class="grade_table_td" th:text="${course.type}"></td>
                                <td class="grade_table_td" th:if="${course.domain}" th:text="${course.domain}"></td>
                                <td class="grade_table_td" style="border-right :0px" th:text="${course.credit}"></td>
                            </tr>
                        </table>
                        <hr style="margin-bottom:0.8rem; margin-top:1.6rem;">
                        <div class="my_box_title2">
                            <div><i class="fa-solid fa-screwdriver-wrench"></i><b>&nbsp;&nbsp;기이수과목 커스텀</b></div>
                            <button id='b6' class="my_box_mod_btn3">커스텀하기</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="text-white-100 mastfoot mt-auto">
    <p>© The SkyGradU 2024</p>
    <a href="/faqs/privacy" style="color: #ffffff;">개인정보처리방침</a>
</footer>

<!--비밀번호 변경모달-->
<div id="m2" class="m2-modal">
    <div class="m2-modal-content">
        <div class="modal-header">
            <span class="modal-close" onclick="closeM2()">&times;</span>
            <h2>비밀번호 변경하기</h2>
        </div>
        <div class="modal-body" id="passwordUpdateModalStep1">
            <p>변경하기 전 현재 비밀번호를 확인합니다.</p>
            <div class="input-group flex-nowrap">
                <input class="form-control" id="currentPassword" type="password" placeholder="현재 비밀번호 입력">
                <span class="input-group-text show-password1" onclick="togglePassword1()">🙈</span>
            </div>
            <div id="error-message1" style="color: red; margin-top: 1rem;"></div>
            <button class="m2-button" onclick="verifyCurrentPassword1()">확인</button>
        </div>
        <div id="passwordUpdateModalStep2" style="display: none;">
            <p style="margin-top:1rem">보안을 위해 8자리 이상 입력해주세요!😊</p>
            <input type="password" id="newPassword" placeholder="새 비밀번호" class="form-control">
            <input type="password" id="confirmNewPassword" placeholder="새 비밀번호 확인" class="form-control" style="margin-top:1rem">
            <div id="error-message2" style="color: red; margin-top: 1rem;"></div>
            <button class="m2-button" onclick="changePassword()">변경하기</button>
        </div>
    </div>
</div>

<!--회원탈퇴 모달-->
<div id="m3" class="m3-modal">
    <div class="m3-modal-content">
        <div class="modal-header">
            <span class="modal-close" onclick="closeM3()">&times;</span>
            <h2>회원 <b style="color:red;">탈퇴하기</b></h2>
        </div>
        <div class="modal-body" id="WithdrawalModalStep1">
            <p><b style="color:red;">탈퇴하기</b> 전 현재 비밀번호를 확인합니다.</p>
            <div class="input-group flex-nowrap">
                <input class="form-control" id="currentPassword1" type="password" placeholder="현재 비밀번호 입력">
                <span class="input-group-text show-password2" onclick="togglePassword2()">🙈</span>
            </div>
            <div id="error-message3" style="color: red; margin-top: 1rem;"></div>
            <button class="m3-button-confirm" onclick="verifyCurrentPassword2()">확인</button>
        </div>
        <div id="WithdrawalModalStep2" style="display: none;">
            <p style="margin-top:1rem"><b>탈퇴하기 버튼을 누르면</b></p>
            <p><b>탈퇴와 동시에 정보가 모두 삭제됩니다.</b></p>
            <div id="error-message4" style="color: red; margin-top: 1rem;"></div>
            <button class="m3-button" onclick="deleteAccount()">탈퇴하기</button>
        </div>
    </div>
</div>
<script src="/webapp/js/updatePW.js"></script>
<script src="/webapp/js/deleteAccount.js"></script>
</body>
</html>
