<!doctype html>
<html lang="ko" data-bs-theme="auto" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The SkyGradU</title>

    <link href="/webapp/css/basic.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/webapp/images/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/webapp/images/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/webapp/images/icon.png">
    <link rel="manifest" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/webapp/images/icon.png" color="#712cf9">
    <link rel="icon" href="/webapp/images/icon.ico">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body class="d-flex flex-column h-100 text-center">
<nav class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-2 border-bottom">
        <a href="/" class="d-flex align-items-center mb-2 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <lottie-player src="/webapp/json/homelogo.json" background="transparent" speed="1" style="width: 40px; height: 32px" loop autoplay></lottie-player>
            <span class="fs-4" style="color: #000000;">The SkyGradU</span>
        </a>

        <ul class="nav nav-pills navbar-expand-md">
            <li class="nav-item">
                <a href="/" class="nav-link" onclick="showContent('home', this)">Home</a>
            </li>
            <li class="nav-item">
                <a href="/qna" class="nav-link" onclick="showContent('faqs', this)">FAQs</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" onclick="showContent('explain', this)">이용안내</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated() and !hasAuthority('ROLE_ADMIN')">
                <a href="/mypage" class="nav-link" onclick="showContent('mypage', this)">마이페이지</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a href="/admin" class="nav-link" onclick="showContent('admin', this)">관리자</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a href="/login" class="nav-link" onclick="showContent('login', this)">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a href="/logout" class="nav-link" onclick="showContent('logout', this)">로그아웃</a>
            </li>

        </ul>
    </header>

    <div class="hero">
        <picture>
            <source srcset="/webapp/images/mobilehome.png" media="(max-width: 768px)">
            <img src="/webapp/images/home.png" alt="Home Image">
        </picture>

        <button class="button--moema" sec:authorize="isAuthenticated()" onclick="window.location.href='/mypage'">시작하기</button>

        <button class="button--moema" sec:authorize="isAnonymous()" onclick="window.location.href='/login'">시작하기</button>

    </div>

    <footer class="text-white-100 mastfoot mt-auto">
        <p>© The SkyGradU 2024</p>
        <a href="/faqs/privacy" style="color: #ffffff;">개인정보처리방침</a>
    </footer>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
