<!doctype html>
<html lang="ko" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The SkyGradU</title>

    <link href="/webapp/css/basic.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/webapp/images/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/webapp/images/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/webapp/images/icon.png">
    <link rel="manifest" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/webapp/images/icon.png" color="#712cf9">
    <link rel="icon" href="/webapp/images/icon.ico">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body class="d-flex flex-column h-100 text-center">
    <!-- 네비게이션 바 포함 -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="hero">
        <picture>
            <source srcset="/webapp/images/mobilehome.png" media="(max-width: 768px)">
            <img src="/webapp/images/home.png" alt="Home Image">
        </picture>

        <button class="button--moema" sec:authorize="isAuthenticated()" onclick="window.location.href='/mypage'">시작하기</button>
        <button class="button--moema" sec:authorize="isAnonymous()" onclick="window.location.href='/login'">시작하기</button>

        <div class="visit">
            <p><br>오늘 방문자 수 : <span th:text="${todayVisits}"></span></p>
            <p>누적 방문자 수 : <span th:text="${totalVisits}"></span></p>
            <p>총 이용자 수 : <span th:text="${userCount}"></span></p>
        </div>



    </div>

    <!-- 푸터 포함 -->
    <div th:replace="~{fragments/footer :: footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>